# OS Files
.DS_Store
Thumbs.db
Desktop.ini

# VS Code
.vscode/

# JetBrains IDE
.idea/

# Environment Variables
.env
.env.*

# Dependencies
node_modules/
vendor/

# Build Files
dist/
build/

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Database
*.sqlite
*.db

# Temporary Files
*.tmp
*.temp

# Cache
.cache/

# Uploads
uploads/

# Coverage
coverage/
